extends ../../layout

block content_title
    .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
      strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font Conceptos Basicos 
      .nicdark_section.nicdark_height_20
      
      .nicdark_section.nicdark_height_20
block content
