extends ../../layout


block login 

    .nicdark_container.nicdark_clearfix
      .grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
            .nicdark_navigation_top_header_2
                ul
                    li
                        ul.nicdark_sub_menu
                            li
                                a(target='_blank', href='https://www.facebook.com/') Facebook
                            li
                                a(target='_blank', href='https://dribbble.com/') Dribbble
                            li
                                a(target='_blank', href='https://twitter.com/') Twitter
                            li
                                a(target='_blank', href='https://www.instagram.com//') Instagram
                            li
                                a(target='_blank', href='https://www.behance.net/') Behance
                        a(target='_blank', href='https://www.facebook.com/')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-facebook-grey.svg')
                        a(target='_blank', href='https://twitter.com/')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-twitter-grey.svg')
                        a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-linkedin-grey.svg')
                        a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-pinterest-grey.svg')
                        a(target='_blank', href='')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-instagram-grey.svg')
      .grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greydark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
        .nicdark_navigation_top_header_2
          ul
            li
              img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-user-grey.svg')
              a(href='#') 
              span(style='color:white') #{userCurrent}
            

block content_title
    .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
      strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font Nivel Basico 
      .nicdark_section.nicdark_height_20
      
      .nicdark_section.nicdark_height_20
block content
    .nicdark_width_100_percentage
        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
            .col-md-6
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.center-content
                    .nicdark_width_100_percentage
                        .nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/entretenimiento/informacion_nivel_basico/conceptos') CONCEPTOS BASICOS
            .col-md-6          
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.center-content
                    .nicdark_width_100_percentage.nicdark_float_left
                        .nicdark_float_left.nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/basico') JUGAR
    .nicdark_section.nicdark_height_50
    

    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            h1(style='padding-left: 16px') ESTRUCTURAS SECUENCIALES 
            .nicdark_width_100_percentage
                .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                    .col-md-12
                        iframe(width='800', height='500', src='https://www.youtube.com/embed/aUiIwdw8v3I', frameborder='0', allowfullscreen='' style='width:100%')
                    
            .nicdark_section.nicdark_height_25
            .col-md-6
                

                h4 CONCEPTOS BÁSICOS:
                .nicdark_section.nicdark_height_20
                h4(style='padding: 20px 20px 20px 0px') Variables: 
            

                    p(style='text-align: justify') Son espacios reservados en la memoria que, como su nombre indica, pueden cambiar de contenido a lo largo de la ejecución de un programa.
                h4(style='padding: 20px 20px 20px 0px') Algoritmo: 

                    p(style='text-align: justify')
                        | Es un conjunto finito de instrucciones o pasos que sirven para ejecutar una tarea o resolver un problema.
                        | Diagrama de Flujo: es una representación gráfica de un proceso o algoritmo.
                
                p(style='text-align: justify;padding: 20px 20px 20px 0px') La estructura de control secuencial es la más sencilla. También se la conoce como estructura lineal. Se compone de instrucciones que deben ejecutarse en forma consecutiva, una tras otra, siguiendo una línea de flujo 
            .col-md-6
                .nicdark_section.nicdark_position_relative
                img.img-responsive(src='/img_contenido/4.JPG')
    .nicdark_section.nicdark_height_50
    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            .col-md-6
                .col-md-6.col-sm-6.col-xs-6
                    img.img-responsive(src='/img_contenido/5.JPG')
                .col-md-6.col-sm-6.col-xs-6
                    img.img-responsive(src='/img_contenido/11.JPG')
            .col-md-6(style='margin-top:5px')
                .col-md-12
                    h4 UNA ESTRUCTURA DE CONTROL SECUENCIAL
                .col-md-12
                    ul
                        li.li-content Declaración de variables 
                        li.li-content Asignación de valores 
                        li.li-content Entrada de datos 
                        li.li-content Procesamiento de datos (operaciones) 
                        li.li-content Reporte de resultados
    .nicdark_section.nicdark_height_50
    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            
            .col-md-6(style='margin-top:50px')
                h4 EJEMPLO :
                br
                p(style='text-align: justify')
                    | Escribir un procedimiento para calcular el área de cualquier triángulo rectángulo. En él se debe pedir al usuario que ingrese los valores de la Altura y la Base del triángulo.
                    | Formular el problema: Ya está claramente planteado. 
                    | Resultados esperados: Un procedimiento que permita calcular el área de cualquier triángulo rectángulo. 
                    | Datos disponibles: Base y Altura del triángulo (se deben solicitar al usuario). 
                    | Restricciones: Los valores de base y altura son variables y se deben solicitar al usuario. 
                    | Procesos necesarios: definir variables; asignar el valor 2 a la constante div; solicitar al usuario el valor de la altura del triángulo; solicitar al usuario el valor de la base; aplicar la fórmula de área; mostrar el resultado.
            .col-md-6
                img.img-responsive(src='/img_contenido/7.JPG')
    .nicdark_section.nicdark_height_50
    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            h1(style='padding-left: 16px') ESTRUCTURAS REPETITIVA 
            .nicdark_section.nicdark_height_25
            .col-md-6
            
                h4 CONCEPTOS BÁSICOS:
                .nicdark_section.nicdark_height_20
                p(style='text-align: justify') La estructura iterativa o de repetición permite ejecutar una o varias instrucciones, un número determinado de veces o, indefinidamente, mientras se cumpla una condición. Esta estructura ayuda a simplificar los algoritmos, ahorrando tiempo valioso a quien resuelve problemas con ayuda del computador.
                h4(style='padding: 20px 20px 20px 0px') 
                    | Existen dos tipos:                    
                    | 
                    ul
                        li.li-content Un número determinado de veces. 
                        li.li-content Mientras se cumpla una condición.
                p(style='text-align: justify;padding: 0px 20px 20px 0px') Debido a que esta aplicación está dirigida niños, solo se cubre aquí el primer tipo de estructura repetitiva: Ejecutar una o varias instrucciones un número determinado de veces. representación gráfica de un proceso o algoritmo.

            
            .col-md-6
                img.img-responsive(src='/img_contenido/8.JPG' style='margin:auto')
    .nicdark_width_100_percentage

        .col-md-12(style='padding:30px')
            .col-md-6

                .col-md-12
                    h4 Por ejemplo Bart tiene que escribir 13 veces “PROGRAMAR CICLOS ES FÁCIL”.
                    .nicdark_section.nicdark_height_25
                .col-md-12
                    img.img-responsive(src='/img_contenido/9.JPG')

                
            .col-md-6
                .col-md-12
                    h4 Hubiese puesto esto: Y tendría el mismo resultado.
                    .nicdark_section.nicdark_height_50  
                .col-md-12
                    img.img-responsive(src='/img_contenido/10.JPG')

        .nicdark_width_100_percentage
            .col-md-12(style='padding:30px')
                
                .col-md-6(style='margin-top:50px')
                    .col-md-12
                        h4 EJEMPLO :
                        br
                        p(style='text-align: justify')
                            | Escribir un procedimiento que muestre 85 veces en pantalla la frase “Esto es un camello”.
                            | Formular el problema: Ya se encuentra claramente formulado. 
                            | Resultados esperados: Que aparezca 85 veces en pantalla la frase “Esto es un camello”. 
                            | Datos disponibles: La frase dada. Restricciones: Ninguna. 
                            | Procesos necesarios: Mostrar la frase mencionada 85 veces.
                    .col-md-6
                        img.img-responsive(src='/img_contenido/12.JPG' style='margin:auto')

                .col-md-6
                
                    img.img-responsive(src='/img_contenido/6.JPG' style='margin:auto')
        .nicdark_width_100_percentage
            .col-md-12(style='padding:30px')
                h1(style='padding-left: 16px') ESTRUCTURAS CONDICIONALES 
                .nicdark_width_100_percentage
                    .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                        .col-md-12
                            iframe(width='560', height='315', src='https://www.youtube.com/embed/VPHBSn9023A', frameborder='0', allowfullscreen='')


            
                .col-md-12(style='margin-top:50px')
                    .col-md-12
                        h4 CONCEPTOS BASICOS
                        br
                        .col-md-12
                            p(style='text-align: justify')
                                | La estructura condicional se utiliza para indicarle al computador que debe evaluar una condición y, a partir del resultado, ejecutar el bloque de instrucciones correspondiente. En programación, se utilizan operadores relacionales () para establecer la relación que existe entre dos elementos de la proposición. Por ejemplo, “Juan es mayor que Pepe”, tendríamos que evaluar ambas edades, si Juan tiene 16 y Pepe 14, por lo tanto es VERDADERA la condición. La estructura condicional tiene tres variantes:
                            ul
                                li.li-content Selección simple. 
                                li.li-content Selección doble. 
                                li.li-content Selección múltiple.
                        .col-md-12    
                            p(style='text-align: justify')
                                    
                                | Hablaremos de las dos primeras:
                                | Las estructuras condicionales simple y doble evalúan una proposición (condición) que devuelve como resultado únicamente dos valores posibles y excluyentes: verdadero o falso. es una representación gráfica de un proceso o algoritmo.

        .nicdark_width_100_percentage
            .col-md-12(style='padding:30px')

                .col-md-12(style='margin-top:50px')            
                    .col-md-6
                        .col-md-12
                            h4 Selección simple :
                            p(style='text-align: justify') La estructura condicional de selección simple ejecuta un bloque de instrucciones cuando la proposición (condicion) es verdadera; si esta es falsa, no hace nada.
                        .col-md-12
                            img.img-responsive(src='/img_contenido/13.JPG' style='margin:auto')

                        
                    .col-md-6
                        .col-md-12
                        
                            h4 Selección doble :
                            p(style='text-align: justify') La estructura condicional de selección doble ejecuta un bloque de instrucciones (A) cuando la proposición (condición) es verdadera y un bloque diferente (B) cuando esta es falsa.
                        .col-md-12
                            img.img-responsive(src='/img_contenido/14.JPG' style='margin:auto')
        .nicdark_width_100_percentage
            .col-md-12(style='padding:30px')

                .col-md-12(style='margin-top:50px')            
                    .col-md-4
                        h4 EJEMPLO
                        p(style='text-align: justify')
                         
                            | Un estudiante aprueba un examen cuando obtiene una calificación mayor o igual a seis. Elaborar un procedimiento que pida al usuario una calificación, aplique el criterio de aprobación e imprima “Aprobado” o “Reprobado”, según sea el caso. 
                            | Formular el problema: Es un problema sencillo de selección doble. 
                            | Resultados esperados: Un aviso que reporte si el estudiante “Aprobó” o “Reprobó” el examen. 
                            | Datos disponibles: La calificación ingresada por el usuario. Para aprobar, la nota debe ser mayor o igual a 6.0. Restricciones: Aplicar el criterio de aprobación. 
                            | Procesos necesarios: Solicitar al usuario que ingrese la calificación. 
                            | Evaluar si la calificación es igual o superior a 6.0; en caso de ser verdadero, reportar “Aprobado”; en caso contrario, reportar “Reprobado”.
                                            
                                                
                        
                    .col-md-4
                        img.img-responsive(src='/img_contenido/15.JPG' style='margin:auto')

                    .col-md-4
                        img.img-responsive(src='/img_contenido/16.JPG' style='margin:auto')

    .nicdark_section.nicdark_bg_greydark
        .nicdark_section.nicdark_height_50
        // start nicdark_container
        .nicdark_container.nicdark_clearfix
            .grid.grid_12.nicdark_text_align_center
                .nicdark_section
                    a(href='')
                        img(alt='', width='200', src='/images/logo2.png')
                .nicdark_section.nicdark_height_20
                .nicdark_display_inline_block
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
        // end container
        .nicdark_section.nicdark_height_50
    .nicdark_section.nicdark_bg_greydark
        // start nicdark_container
        .nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
            .grid.grid_6.nicdark_text_align_center_responsive
                p.nicdark_color_grey.nicdark_font_size_14 © Copyright 2016 Se Declaran Todos los Derechos Reservados Compañia J&C
            .grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
                .nicdark_navigation_copyright
                    ul
                        li
                            a(href='/') INICIO
                        li
                            a(href='/nosotros') NOSOTROS
                        li
                            a(href='/contactanos') CONTACTANOS
        // end container
