extends ../layout

block content
    
    .nicdark_container.nicdark_clearfix

    .nicdark_section.nicdark_height_20
    br
    .row(style='margin:50px;text-align:justify')

        br
        .col-md-6
            h3 ¿Qué es FunCode?
            br
            p FunCode es una aplicación web que enseña a programar de forma divertida a los jóvenes que desean incursionar en el amplio mundo de la programación.
    
        .col-md-6
            
            h3 Mision
            br
            p Ayudar a los jóvenes para que puedan pensar creativamente, razonar sistemáticamente y trabajar en colaboración - habilidades esenciales para la vida en el siglo 21.
        br
                 
    .nicdark_section.nicdark_bg_greydark
        .nicdark_section.nicdark_height_50
        // start nicdark_container
        .nicdark_container.nicdark_clearfix
            .grid.grid_12.nicdark_text_align_center
                .nicdark_section
                    a(href='index-2.html')
                        img(alt='', width='200', src='/images/logo2.png')
                .nicdark_section.nicdark_height_20
                .nicdark_display_inline_block
                    a(href='index-2.html')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
                    a(href='index-2.html')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
                    a(href='index-2.html')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
                    a(href='index-2.html')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
                    a(href='index-2.html')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
        // end container
        .nicdark_section.nicdark_height_50
    .nicdark_section.nicdark_bg_greydark
        // start nicdark_container
        .nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
            .grid.grid_6.nicdark_text_align_center_responsive
                p.nicdark_color_grey.nicdark_font_size_14 © Copyright 2016 Se Declaran Todos los Derechos Reservados Compañia J&C
            .grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
                .nicdark_navigation_copyright
                    ul
                        li
                            a(href='/') INICIO
                        li
                            a(href='/nosotros') NOSOTROS
                        li
                            a(href='/contactanos') CONTACTANOS
        // end container
