doctype html
html
    head
        meta(charset='utf-8')
        title FUN CODE
    
        link(rel='shortcut icon', href='/images/favicon/favicon.ico')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        //-link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
        //-link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        //link(type='text/css', rel='stylesheet', href='/stylesheets/materialize.min.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //script(src='/javascripts/jquery.2.1.1.js', type='text/javascript') 
        //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        //link(rel='stylesheet', href='/stylesheets/fonts/roboto/Roboto-Regular.ttf')

        link(rel='stylesheet', href='/stylesheets/nicdark_style.min.css')
        // Compiled and minified JavaScript

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
        // END FAVICONS
    body#start_nicdark_framework
    
        include ./login/index
        include ./registro/index
        // START for demo
        // btn purchase

        // END btn purchase
        // END for demo
        // START nicdark_site
        .nicdark_site
            // START nicdark_site_fullwidth
            .nicdark_site_fullwidth.nicdark_site_fullwidth_boxed.nicdark_clearfix
                // START search container
                //-
                    .nicdark_display_table.nicdark_transition_all_08_ease.nicdark_navigation_2_search_content.nicdark_bg_greydark_alpha_9.nicdark_position_fixed.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_z_index_1_negative.nicdark_opacity_0
                        // close
                        .nicdark_cursor_zoom_out.nicdark_navigation_2_close_search_content.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_position_absolute.nicdark_z_index_1_negative
                        .nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_text_align_center
                            .nicdark_width_700.nicdark_width_250_all_iphone.nicdark_display_inline_block
                                .nicdark_width_80_percentage.nicdark_padding_5.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
                                    input.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0.nicdark_first_font.nicdark_color_white.nicdark_placeholder_color_white.nicdark_font_size_30.nicdark_line_height_30(type='text', placeholder='Search')
                                .nicdark_width_20_percentage.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
                                    a.nicdark_width_55.nicdark_height_55.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_bg_orange.nicdark_padding_15.nicdark_border_radius_3(href='courses.html')
                                        img(alt='', width='25', src='/images/icons/icon-search-white.svg')
                // END search container
                // START menu responsive
                .nicdark_navigation_2_sidebar_content.nicdark_padding_40.nicdark_box_sizing_border_box.nicdark_overflow_hidden.nicdark_overflow_y_auto.nicdark_transition_all_08_ease.nicdark_bg_blue.nicdark_height_100_percentage.nicdark_position_fixed.nicdark_width_300.nicdark_right_300_negative.nicdark_z_index_9
                    img.nicdark_close_navigation_2_sidebar_content.nicdark_cursor_pointer.nicdark_right_20.nicdark_top_20.nicdark_position_absolute(alt='', width='25', src='/images/icons/icon-close-white.svg')
                    .nicdark_navigation_2_sidebar
                        ul
                            li
                                a(href='/') INICIO 
                            li
                                a(href='/contactanos') CONTACTANOS  
                            li
                                a(href='/nosotros') NOSOTROS  
                    .nicdark_section.nicdark_height_10
                .nicdark_section
                    .nicdark_section.nicdark_bg_greydark
                        // start nicdark_container
                        .nicdark_container.nicdark_clearfix
                            .grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
                                .nicdark_navigation_top_header_2
                                    ul
                                        li
                                            ul.nicdark_sub_menu
                                                li
                                                    a(target='_blank', href='https://www.facebook.com/') Facebook
                                                li
                                                    a(target='_blank', href='https://dribbble.com/') Dribbble
                                                li
                                                    a(target='_blank', href='https://twitter.com/') Twitter
                                                li
                                                    a(target='_blank', href='https://www.instagram.com//') Instagram
                                                li
                                                    a(target='_blank', href='https://www.behance.net/') Behance
                                            a(target='_blank', href='https://www.facebook.com/')
                                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-facebook-grey.svg')
                                            a(target='_blank', href='https://twitter.com/')
                                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-twitter-grey.svg')
                                            a(target='_blank', href='#')
                                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-linkedin-grey.svg')
                                            a(target='_blank', href='#')
                                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-pinterest-grey.svg')
                                            a(target='_blank', href='')
                                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-instagram-grey.svg')
                            .grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greydark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
                                .nicdark_navigation_top_header_2
                                    ul
                                        li
                                            img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-user-grey.svg')
                                            a(type='button', data-toggle='modal', data-target='#modalSignIn',href="") LOGIN
                                            
                                                    
                                        li
                                            img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-login-grey.svg')
                                            a(type='button', data-toggle='modal', data-target='#ModalRegisterUser',href='') REGISTRAR
                                        
                .nicdark_section.nicdark_position_relative
                    .nicdark_section.nicdark_position_absolute
                        // start nicdark_container
                        .nicdark_container.nicdark_clearfix.nicdark_position_relative
                            .grid.grid_12.nicdark_display_none_all_responsive
                                .nicdark_section.nicdark_height_10
                                // LOGO
                                a(href='')
                                    img.nicdark_position_absolute.nicdark_left_15.nicdark_top_20(alt='', width='170', src='/images/logo2.png')
                                // right icons menu
                                // right icons menu
                                .nicdark_navigation_2.nicdark_text_align_right.nicdark_float_right.nicdark_display_none_all_responsive
                                    ul
                                        li
                                            a(href='/') INICIO  
                                        li
                                            a(href='/contactanos') CONTACTENOS   
                                        li
                                            a(href='/nosotros') NOSOTROS  
                                        
                                        
                                .nicdark_section.nicdark_height_10
                            // RESPONSIVE
                            .nicdark_width_50_percentage.nicdark_text_align_center_all_iphone.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                                .nicdark_section.nicdark_height_20
                                a(href='')
                                    img(alt='', width='170', src='/images/logo2.png')
                            .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                                .nicdark_section.nicdark_height_20
                                .nicdark_float_right.nicdark_width_100_percentage.nicdark_text_align_right.nicdark_text_align_center_all_iphone
                                    a.nicdark_open_navigation_2_sidebar_content(href='#')
                                        img.nicdark_margin_right_20(alt='', width='25', src='/images/icons/icon-menu-white.svg')
                                    //-
                                        .nicdark_position_relative.nicdark_display_inline_block
                                            a(href='cart.html')
                                                img(alt='', width='25', src='/images/icons/icon-cart-white.svg')
                                            a.nicdark_bg_orange.nicdark_color_white.nicdark_padding_5.nicdark_border_radius_100_percentage.nicdark_font_size_8.nicdark_line_height_5.nicdark_position_absolute.nicdark_left_0.nicdark_top_10_negative.nicdark_margin_left_20(href='#') 2
                                        img.nicdark_margin_left_20.nicdark_navigation_2_open_search_content(alt='', width='25', src='/images/icons/icon-search-white.svg')
                                
                            // RESPONSIVE
                        // end container
                                                        
                // END menu responsive
                .nicdark_section.nicdark_background_size_cover.nicdark_background_position_center_bottom(style='background-image:url(images/landing.jpg);')
                    .nicdark_section.nicdark_bg_greydark_alpha_gradient_2
                        .nicdark_section.nicdark_height_570
                        // start nicdark_container
                        .nicdark_container.nicdark_clearfix.nicdark_display_none_all_iphone
                            .grid.grid_12
                                strong.nicdark_color_white.nicdark_font_size_60.nicdark_first_font En nuestro sitio puede
                                // START typed words
                                .nicdark_section
                                    strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font aprender 
                                    .nicdark_typed_strings
                                        p
                                            strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font a programar divirtiendose
                                        p
                                            strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font cómo explorar nuevas cosas
                                    span.nicdark_typed.nicdark_padding_botttom_5(style='white-space:pre;')
                                // END typed words
                        // end container
                        .nicdark_section.nicdark_height_50
                        
                .nicdark_section
                    
                .nicdark_section.nicdark_height_50
                .nicdark_section.nicdark_border_top_1_solid_grey
                  // START courses
                  // start nicdark_container
                  .nicdark_container.nicdark_clearfix
                    .grid.grid_12
                      h1.nicdark_font_size_50
                        strong Nuestros Cursos
                      .nicdark_section.nicdark_height_10
                      h3.nicdark_color_grey Lo mejor de nuestra escuela
                    .nicdark_width_100_percentage
                      // START preview
                      .nicdark_width_33_percentage.nicdark_width_100_percentage_ipad_port.nicdark_width_100_percentage_all_iphone.nicdark_float_left
                        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                          // start preview
                          .nicdark_section.nicdark_border_1_solid_grey
                            // image
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='images/partner/0.jpg')
                              .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
                                  img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
                                  img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                                .nicdark_position_absolute.nicdark_bottom_20
                                  .nicdark_display_table.nicdark_float_left
                                    img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                                    p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 4 Horas
                            // image
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_white
                              h3
                                a.nicdark_color_greydark.nicdark_first_font(href='/basico') Nivel Basico
                              .nicdark_section.nicdark_height_20
                              p
                                a(href='')
                                  | Aprenderemos a manejar estructuras de control con javascript.
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                              
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left
                                .nicdark_display_table.nicdark_float_left
                                  img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                                  p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                                    a(href='') 221 Suscritos
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left.nicdark_text_align_right
                                a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='/basico' id='btnBasicoSuscripcion') SUSCRIBIR
                          // start preview
                      // END preview
                      // START preview
                      .nicdark_width_33_percentage.nicdark_width_100_percentage_ipad_port.nicdark_width_100_percentage_all_iphone.nicdark_float_left
                        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                          // start preview
                          .nicdark_section.nicdark_border_1_solid_grey
                            // image
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='images/partner/img1.png')
                              .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
                                  img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
                                  img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                                .nicdark_position_absolute.nicdark_bottom_20
                                  .nicdark_display_table.nicdark_float_left
                                    img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                                    p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 4 Horas
                            // image
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_white
                              h3
                                a.nicdark_color_greydark.nicdark_first_font(href='/intermedio') Nivel Intermedio
                              .nicdark_section.nicdark_height_20
                              p
                                a(href='')
                                  | Aprenderemos el uso de funciones con javascript
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                              
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left
                                .nicdark_display_table.nicdark_float_left
                                  img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                                  p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                                    a(href='') 0 Suscritos
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left.nicdark_text_align_right
                                a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='/intermedio' id='btnIntermedioSuscripcion') SUSCRIBIR
                          // start preview
                      // END preview
                      // START preview
                      .nicdark_width_33_percentage.nicdark_width_100_percentage_ipad_port.nicdark_width_100_percentage_all_iphone.nicdark_float_left
                        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                          // start preview
                          .nicdark_section.nicdark_border_1_solid_grey
                            // image
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='images/partner/img2.png')
                              .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
                                  img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                                a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
                                  img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                                .nicdark_position_absolute.nicdark_bottom_20
                                  .nicdark_display_table.nicdark_float_left
                                    img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                                    p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 4 Horas
                            // image
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_white
                              h3
                                a.nicdark_color_greydark.nicdark_first_font(href='/avanzado') Nivel Avanzado
                              .nicdark_section.nicdark_height_20
                              p
                                a(href='')
                                  | Aprendemos programacion orientada a objetos con javascript.
                            .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                              
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left
                                .nicdark_display_table.nicdark_float_left
                                  img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                                  p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                                    a(href='') 221 Suscritos
                              .nicdark_width_50_percentage.nicdark_width_50_percentage_responsive.nicdark_float_left.nicdark_text_align_right
                                a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='/avanzado' id='btnAvanzadoSuscripcion') SUSCRIBIR
                          // start preview
                      // END preview
                  // end container
                // END courses
                .nicdark_section.nicdark_height_50
                .nicdark_section.nicdark_height_50

                .nicdark_section.nicdark_background_size_cover.nicdark_background_position_center(style='background-image:url(images/partner/cursos_gratuitos.jpg);')
                  .nicdark_section.nicdark_bg_greydark_alpha
                    .nicdark_container.nicdark_clearfix
                      .nicdark_section.nicdark_height_80
                      .grid.grid_6.nicdark_position_relative
                        img.nicdark_position_absolute(alt='', width='55', src='images/icons/icon-check-white.svg')
                        h1.nicdark_color_white.nicdark_font_size_40.nicdark_padding_left_80.nicdark_line_height_50
                          strong
                            span.nicdark_border_bottom_4_solid_white Si tienes ideas,
                            br
                            |  que esperas para hacerla realidad.
                      .nicdark_section.nicdark_height_1
                      .grid.grid_4
                        .nicdark_padding_20
                          h1.nicdark_font_size_40.nicdark_color_white
                            strong
                              span.nicdark_color_f1f1f1.nicdark_font_size_25 01.
                              |  Experiencia
                          .nicdark_section.nicdark_height_20
                          p.nicdark_color_white
                            | Obten nuevas experiencias a lado de la programacion en javascript.
                      .grid.grid_4
                        .nicdark_padding_20
                          h1.nicdark_font_size_40.nicdark_color_white
                            strong
                              span.nicdark_color_f1f1f1.nicdark_font_size_25 02.
                              |  Educacion
                          .nicdark_section.nicdark_height_20
                          p.nicdark_color_white
                            | Aprende la magia de la logica y la programacion, para ampliar tus horizontes.
                      .grid.grid_4
                        .nicdark_padding_20
                          h1.nicdark_font_size_40.nicdark_color_white
                            strong
                              span.nicdark_color_f1f1f1.nicdark_font_size_25 03.
                              |  Certificacion
                          .nicdark_section.nicdark_height_20
                          p.nicdark_color_white
                            | Termina los niveles y certificate para empezar a programar en javascript.
                      .nicdark_section.nicdark_height_80
                
                .nicdark_section.nicdark_height_50
                
                
                .nicdark_section
                  // start nicdark_container
                  .nicdark_container.nicdark_clearfix
                    .grid.grid_12
                      h1.nicdark_font_size_50
                        strong Nuestros Profesores
                      .nicdark_section.nicdark_height_10
                      h3.nicdark_color_grey Los mejores profesores
                      .nicdark_section.nicdark_height_10
                    .grid.grid_6
                      // START teacher
                      .nicdark_section
                        .nicdark_float_left.nicdark_width_35_percentage.nicdark_width_100_percentage_all_iphone
                          // START image
                          .nicdark_section.nicdark_box_sizing_border_box
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='img/karla.JPG' height='220px' width='200px')
                              .nicdark_bg_greydark_alpha_gradient.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_box_sizing_border_box
                                .nicdark_position_absolute.nicdark_bottom_20.nicdark_width_100_percentage.nicdark_padding_botttom_0.nicdark_box_sizing_border_box.nicdark_text_align_center
                                  .nicdark_display_inline_block
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-twitter-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-pinterest-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-linkedin-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-google-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-instagram-white.svg')
                          // END image
                        .nicdark_float_left.nicdark_width_65_percentage.nicdark_width_100_percentage_all_iphone
                          .nicdark_section.nicdark_padding_left_20.nicdark_padding_left_0_all_iphone.nicdark_box_sizing_border_box
                            h2.nicdark_margin_top_20_all_iphone
                              strong Karla Aliaga
                            .nicdark_section.nicdark_height_10
                            h6.nicdark_text_transform_uppercase.nicdark_color_grey.nicdark_second_font Img. Informatico y sistemas
                            .nicdark_section.nicdark_height_20
                            p.nicdark_color_grey
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
                            .nicdark_section.nicdark_height_10
                            a.nicdark_display_inline_block.nicdark_color_grey.nicdark_color_greydark_hover.nicdark_bg_white_hover.nicdark_transition_all_08_ease.nicdark_border_1_solid_grey_2.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='https://www.facebook.com/KarlaAliagaC?fref=ts' target='_blank') SEGUIR
                      // END teacher
                    .grid.grid_6
                      // START teacher
                      .nicdark_section
                        .nicdark_float_left.nicdark_width_35_percentage.nicdark_width_100_percentage_all_iphone
                          // START image
                          .nicdark_section.nicdark_box_sizing_border_box
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='img/cristian.JPG' height='220px' width='200px')
                              .nicdark_bg_greydark_alpha_gradient.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_box_sizing_border_box
                                .nicdark_position_absolute.nicdark_bottom_20.nicdark_width_100_percentage.nicdark_padding_botttom_0.nicdark_box_sizing_border_box.nicdark_text_align_center
                                  .nicdark_display_inline_block
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-twitter-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-pinterest-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-linkedin-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-google-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-instagram-white.svg')
                          // END image
                        .nicdark_float_left.nicdark_width_65_percentage.nicdark_width_100_percentage_all_iphone
                          .nicdark_section.nicdark_padding_left_20.nicdark_padding_left_0_all_iphone.nicdark_box_sizing_border_box
                            h2.nicdark_margin_top_20_all_iphone
                              strong Cristian Peralta
                            .nicdark_section.nicdark_height_10
                            h6.nicdark_text_transform_uppercase.nicdark_color_grey.nicdark_second_font Img. Informatico y sistemas
                            .nicdark_section.nicdark_height_20
                            p.nicdark_color_grey
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
                            .nicdark_section.nicdark_height_10
                            a.nicdark_display_inline_block.nicdark_color_grey.nicdark_color_greydark_hover.nicdark_bg_white_hover.nicdark_transition_all_08_ease.nicdark_border_1_solid_grey_2.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='https://www.facebook.com/cristian.peraltasegura?fref=ts' target='_blank') SEGUIR
                      // END teacher
                    .grid.grid_6
                      // START teacher
                      .nicdark_section
                        .nicdark_float_left.nicdark_width_35_percentage.nicdark_width_100_percentage_all_iphone
                          // START image
                          .nicdark_section.nicdark_box_sizing_border_box
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='img/ely.JPG' height='220px' width='200px')
                              .nicdark_bg_greydark_alpha_gradient.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_box_sizing_border_box
                                .nicdark_position_absolute.nicdark_bottom_20.nicdark_width_100_percentage.nicdark_padding_botttom_0.nicdark_box_sizing_border_box.nicdark_text_align_center
                                  .nicdark_display_inline_block
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-twitter-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-pinterest-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-linkedin-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-google-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-instagram-white.svg')
                          // END image
                        .nicdark_float_left.nicdark_width_65_percentage.nicdark_width_100_percentage_all_iphone
                          .nicdark_section.nicdark_padding_left_20.nicdark_padding_left_0_all_iphone.nicdark_box_sizing_border_box
                            h2.nicdark_margin_top_20_all_iphone
                              strong Ely escobar
                            .nicdark_section.nicdark_height_10
                            h6.nicdark_text_transform_uppercase.nicdark_color_grey.nicdark_second_font Img. Informatico y sistemas
                            .nicdark_section.nicdark_height_20
                            p.nicdark_color_grey
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
                            .nicdark_section.nicdark_height_10
                            a.nicdark_display_inline_block.nicdark_color_grey.nicdark_color_greydark_hover.nicdark_bg_white_hover.nicdark_transition_all_08_ease.nicdark_border_1_solid_grey_2.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='https://www.facebook.com/elyann.escobarchuquitaipe?fref=ts' target='_blank') SEGUIR
                      // END teacher
                    .grid.grid_6
                      // START teacher
                      .nicdark_section
                        .nicdark_float_left.nicdark_width_35_percentage.nicdark_width_100_percentage_all_iphone
                          // START image
                          .nicdark_section.nicdark_box_sizing_border_box
                            .nicdark_section.nicdark_position_relative
                              img.nicdark_section(alt='', src='img/adelio.jpg' height='220px' width='200px')
                              .nicdark_bg_greydark_alpha_gradient.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_box_sizing_border_box
                                .nicdark_position_absolute.nicdark_bottom_20.nicdark_width_100_percentage.nicdark_padding_botttom_0.nicdark_box_sizing_border_box.nicdark_text_align_center
                                  .nicdark_display_inline_block
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-twitter-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-pinterest-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-linkedin-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-google-white.svg')
                                    img.nicdark_margin_right_10(alt='', width='15', src='images/icons/icon-instagram-white.svg')
                          // END image
                        .nicdark_float_left.nicdark_width_65_percentage.nicdark_width_100_percentage_all_iphone
                          .nicdark_section.nicdark_padding_left_20.nicdark_padding_left_0_all_iphone.nicdark_box_sizing_border_box
                            h2.nicdark_margin_top_20_all_iphone
                              strong Adelio Copari
                            .nicdark_section.nicdark_height_10
                            h6.nicdark_text_transform_uppercase.nicdark_color_grey.nicdark_second_font Img. Informatico y sistemas
                            .nicdark_section.nicdark_height_20
                            p.nicdark_color_grey
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
                            .nicdark_section.nicdark_height_10
                            a.nicdark_display_inline_block.nicdark_color_grey.nicdark_color_greydark_hover.nicdark_bg_white_hover.nicdark_transition_all_08_ease.nicdark_border_1_solid_grey_2.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='https://www.facebook.com/adelio.copari?fref=ts ' target='_blank') SEGUIR
                      // END teacher
                  // end container

                
                .nicdark_section.nicdark_height_50

                                
                
                
                
                
                
                
                
                .nicdark_section
                    .nicdark_section.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                        // start nicdark_container
                        .nicdark_container.nicdark_clearfix
                            .nicdark_section.nicdark_height_30
                            //-
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                                .grid.grid_2
                                    img.nicdark_width_100_percentage(alt='', src='/images/logo2.png')
                            .nicdark_section.nicdark_height_30
                        // end container
                .nicdark_section.nicdark_bg_greydark
                    .nicdark_section.nicdark_height_50
                    // start nicdark_container
                    .nicdark_container.nicdark_clearfix
                        .grid.grid_12.nicdark_text_align_center
                            .nicdark_section
                                a(href='')
                                    img(alt='', width='200', src='/images/logo2.png')
                            .nicdark_section.nicdark_height_20
                            .nicdark_display_inline_block
                                a(href='')
                                    img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
                                a(href='')
                                    img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
                                a(href='')
                                    img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
                                a(href='')
                                    img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
                                a(href='')
                                    img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
                    // end container
                    .nicdark_section.nicdark_height_50
                .nicdark_section.nicdark_bg_greydark
                    // start nicdark_container
                    .nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
                        .grid.grid_6.nicdark_text_align_center_responsive
                            p.nicdark_color_grey.nicdark_font_size_14 © Copyright 2016 Se Declaran Todos los Derechos Reservados Compañia J&C
                        .grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
                            .nicdark_navigation_copyright
                                ul
                                    li
                                        a(href='/') INICIO
                                    li
                                        a(href='/nosotros') NOSOTROS
                                    li
                                        a(href='/contactanos') CONTACTANOS
                    // end container


            // END nicdark_site_fullwidth
            // END nicdark_site
        script(src='/javascripts/nicdark_plugins.min.js', type='text/javascript')
        script(src='/javascripts/jquery.2.1.1.js', type='text/javascript')

        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js', type='text/javascript')
        script(src='/javascripts/bootstrap.min.js', type='text/javascript')

        //-script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
        script(src='/javascripts/main.js', type='text/javascript')
        script(src='/javascripts/modals.js', type='text/javascript')
    
