.nicdark_section
    .nicdark_section.nicdark_bg_greydark
        // start nicdark_container
        .nicdark_container.nicdark_clearfix
            .grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
                .nicdark_navigation_top_header_2
                    ul
                        
                        li
                        
                            ul.nicdark_sub_menu
                                li
                                    a(target='_blank', href='https://www.facebook.com/cleanthemeslab') Facebook
                                li
                                    a(target='_blank', href='https://dribbble.com/cleanthemeslab') Dribbble
                                li
                                    a(target='_blank', href='https://twitter.com/cleanthemeslab') Twitter
                                li
                                    a(target='_blank', href='https://www.instagram.com/cleanthemeslab/') Instagram
                                li
                                    a(target='_blank', href='https://www.behance.net/cleanthemeslab') Behance
                            a(target='_blank', href='https://www.facebook.com/cleanthemeslab')
                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-facebook-grey.svg')
                            a(target='_blank', href='https://twitter.com/cleanthemeslab')
                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-twitter-grey.svg')
                            a(target='_blank', href='#')
                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-linkedin-grey.svg')
                            a(target='_blank', href='#')
                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-pinterest-grey.svg')
                            a(target='_blank', href='https://www.instagram.com/cleanthemeslab/')
                                img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-instagram-grey.svg')
            .grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greydark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
                .nicdark_navigation_top_header_2
                    ul
                        li
                            img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-user-grey.svg')
                            a(href='#') LOGIN
                        li
                            img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-login-grey.svg')
                            a(href='#') REGISTRAR
        // end container
.nicdark_section.nicdark_position_relative
    .nicdark_section.nicdark_position_absolute
        // start nicdark_container
        .nicdark_container.nicdark_clearfix.nicdark_position_relative
            .grid.grid_12.nicdark_display_none_all_responsive
                .nicdark_section.nicdark_height_10
                // LOGO
                a(href='index-2.html')
                    img.nicdark_position_absolute.nicdark_left_15.nicdark_top_20(alt='', width='170', src='/images/logos/logo-kinderlab-white.svg')
                // right icons menu
                // right icons menu
                .nicdark_navigation_2.nicdark_text_align_right.nicdark_float_right.nicdark_display_none_all_responsive
                    ul
                        li
                            a(href='index-2.html') INICIO
                            
                        li
                            a(href='courses.html') NOSOTROS
                            
                                
                        li
                            a(href='teachers.html') CONTACTENOS
                        
                .nicdark_section.nicdark_height_10
            // RESPONSIVE
            .nicdark_width_50_percentage.nicdark_text_align_center_all_iphone.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                .nicdark_section.nicdark_height_20
                a(href='index-2.html')
                    img(alt='', width='170', src='/images/logos/logo-kinderlab-white.svg')
            .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                .nicdark_section.nicdark_height_20
                .nicdark_float_right.nicdark_width_100_percentage.nicdark_text_align_right.nicdark_text_align_center_all_iphone
                    a.nicdark_open_navigation_2_sidebar_content(href='#')
                        img.nicdark_margin_right_20(alt='', width='25', src='/images/icons/icon-menu-white.svg')
                    .nicdark_position_relative.nicdark_display_inline_block
                        a(href='cart.html')
                            img(alt='', width='25', src='/images/icons/icon-cart-white.svg')
                        a.nicdark_bg_orange.nicdark_color_white.nicdark_padding_5.nicdark_border_radius_100_percentage.nicdark_font_size_8.nicdark_line_height_5.nicdark_position_absolute.nicdark_left_0.nicdark_top_10_negative.nicdark_margin_left_20(href='#') 2
                    img.nicdark_margin_left_20.nicdark_navigation_2_open_search_content(alt='', width='25', src='/images/icons/icon-search-white.svg')
            
            // RESPONSIVE
        // end container
    
