extends layout

block content
    .nicdark_section
        .nicdark_container.nicdark_clearfix
            .grid.grid_12
                //-h1.nicdark_font_size_50
                    //-strong 
                        //-| Nuestros Cursos
                //-.nicdark_section.nicdark_height_10
                    //-h3.nicdark_color_grey
                    //-| Lo mejor de la programacion
        .nicdark_container.nicdark_clearfix
            .nicdark_width_100_percentage
                .nicdark_width_33_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.card-1
                  .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                    // start preview
                    .nicdark_section.nicdark_border_1_solid_grey
                      // image
                      .nicdark_section.nicdark_position_relative
                        img.nicdark_section(alt='', src='/images/secuen2.jpg')
                        .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                          a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='#')
                            img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                          a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='#')
                            img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                          .nicdark_position_absolute.nicdark_bottom_20
                            .nicdark_display_table.nicdark_float_left
                              img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-calendar.svg')
                              p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
                              img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                              p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
                      // image
                      .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
                        h3
                          a(href='/basico').nicdark_color_greydark.nicdark_first_font Nivel Basico
                        .nicdark_section.nicdark_height_20
                        p
                          a(href='#')
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue.
                      .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_display_none_all_iphone.nicdark_float_left
                          .nicdark_display_table.nicdark_float_left
                            img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_border_radius_100_percentage(alt='', width='25', src='images/avatar/avatar-chef-2.jpg')
                            p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                              a(href='#') Jess
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left
                          .nicdark_display_table.nicdark_float_left
                            img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                            p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                              a(href='#') 70 Seats
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left.nicdark_text_align_right
                          a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='#') GRATIS
                .nicdark_width_33_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.card-1
                    .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                      // start preview
                      .nicdark_section.nicdark_border_1_solid_grey
                        // image
                        .nicdark_section.nicdark_position_relative
                          img.nicdark_section(alt='', src='/images/secuen2.jpg')
                          .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                            a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='#')
                              img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                            a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='#')
                              img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                            .nicdark_position_absolute.nicdark_bottom_20
                              .nicdark_display_table.nicdark_float_left
                                img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-calendar.svg')
                                p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
                                img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                                p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
                        // image
                        .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
                          h3
                            a(href='/Intermedio').nicdark_color_greydark.nicdark_first_font Nivel Intermedio
                          .nicdark_section.nicdark_height_20
                          p
                            a
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue.
                        .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                          .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_display_none_all_iphone.nicdark_float_left
                            .nicdark_display_table.nicdark_float_left
                              img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_border_radius_100_percentage(alt='', width='25', src='images/avatar/avatar-chef-2.jpg')
                              p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                                a Jess
                          .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left
                            .nicdark_display_table.nicdark_float_left
                              img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                              p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                                a 70 Seats
                          .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left.nicdark_text_align_right
                            a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='') JUGAR
                .nicdark_width_33_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.card-1
                
                 
                  .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
                    // start preview
                    .nicdark_section.nicdark_border_1_solid_grey
                      // image
                      .nicdark_section.nicdark_position_relative
                        img.nicdark_section(alt='', src='/images/secuen2.jpg')
                        .nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
                          a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='#')
                            img.nicdark_margin_right_60(alt='', width='25', src='images/icons/icon-heart-white.svg')
                          a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='#')
                            img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='images/icons/icon-compare-white.svg')
                          .nicdark_position_absolute.nicdark_bottom_20
                            .nicdark_display_table.nicdark_float_left
                              img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-calendar.svg')
                              p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
                              img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='images/icons/icon-clock.svg')
                              p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
                      // image
                      .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
                        h3
                          a(href='/avanzado').nicdark_color_greydark.nicdark_first_font Nivel Avanzado
                        .nicdark_section.nicdark_height_20
                        p
                          a(href='#',style='text-decoration:none')
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue.
                      .nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_display_none_all_iphone.nicdark_float_left
                          .nicdark_display_table.nicdark_float_left
                            img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_border_radius_100_percentage(alt='', width='25', src='images/avatar/avatar-chef-2.jpg')
                            p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                              a(href='#') Jess
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left
                          .nicdark_display_table.nicdark_float_left
                            img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='images/icons/icon-availability.svg')
                            p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
                              a(href='#') 70 Seats
                        .nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left.nicdark_text_align_right
                          a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='#') GRATIS
                
        
        br
        br
        br
        br
