doctype html
html
	head
		meta(charset='utf-8')
		title Education - Learning Theme
		// insert your title here
		meta(name='description', content='Education - Learning theme for your business')
		// insert your description here
		meta(name='author', content='nicdark')
		// insert your name here
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		// meta responsive
		// START CSS
		link(rel='stylesheet', href='/stylesheets/nicdark_style.min.css')
		// style
		// google fonts
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
		//if lt IE 9
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		// FAVICONS
		link(rel='shortcut icon', href='/images/favicon/favicon.ico')
		link(rel='apple-touch-icon', href='/images/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
		// END FAVICONS
	body#start_nicdark_framework
		// START for demo
		// btn purchase
		.nicdark_bg_greydark.nicdark_z_index_99.nicdark_padding_1020.nicdark_border_radius_3.nicdark_position_fixed.nicdark_bottom_20.nicdark_right_20
			a(href='http://themeforest.net/item/education-education-learning-theme-for-education-courses-school-html/16350096?ref=nicdark')
				img.nicdark_float_left.nicdark_margin_right_10(alt='', width='15', src='/images/icons/icon-cart-white.svg')
			a(href='http://themeforest.net/item/education-education-learning-theme-for-education-courses-school-html/16350096?ref=nicdark')
				p.nicdark_first_font.nicdark_line_height_17.nicdark_color_white.nicdark_font_size_14.nicdark_float_left
					| Buy 
					strong Education
					|  On
			a(href='http://themeforest.net/item/education-education-learning-theme-for-education-courses-school-html/16350096?ref=nicdark')
				img.nicdark_float_left.nicdark_margin_left_10(alt='', width='70', src='/images/demo/envatologo.jpg')
		// END btn purchase
		// END for demo
		// START nicdark_site
		.nicdark_site
			// START nicdark_site_fullwidth
			.nicdark_site_fullwidth.nicdark_site_fullwidth_boxed.nicdark_clearfix
				// START search container
				.nicdark_display_table.nicdark_transition_all_08_ease.nicdark_navigation_2_search_content.nicdark_bg_greydark_alpha_9.nicdark_position_fixed.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_z_index_1_negative.nicdark_opacity_0
					// close
					.nicdark_cursor_zoom_out.nicdark_navigation_2_close_search_content.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_position_absolute.nicdark_z_index_1_negative
					.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_text_align_center
						.nicdark_width_700.nicdark_width_250_all_iphone.nicdark_display_inline_block
							.nicdark_width_80_percentage.nicdark_padding_5.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
								input.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0.nicdark_first_font.nicdark_color_white.nicdark_placeholder_color_white.nicdark_font_size_30.nicdark_line_height_30(type='text', placeholder='Search')
							.nicdark_width_20_percentage.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
								a.nicdark_width_55.nicdark_height_55.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_bg_orange.nicdark_padding_15.nicdark_border_radius_3(href='courses.html')
									img(alt='', width='25', src='/images/icons/icon-search-white.svg')
				// END search container
				// START menu responsive
				.nicdark_navigation_2_sidebar_content.nicdark_padding_40.nicdark_box_sizing_border_box.nicdark_overflow_hidden.nicdark_overflow_y_auto.nicdark_transition_all_08_ease.nicdark_bg_blue.nicdark_height_100_percentage.nicdark_position_fixed.nicdark_width_300.nicdark_right_300_negative.nicdark_z_index_9
					img.nicdark_close_navigation_2_sidebar_content.nicdark_cursor_pointer.nicdark_right_20.nicdark_top_20.nicdark_position_absolute(alt='', width='25', src='/images/icons/icon-close-white.svg')
					.nicdark_navigation_2_sidebar
						ul
							li
								a(href='index-2.html') HOME
								ul.nicdark_sub_menu
									li
										a(href='index-2.html') Home 1
									li
										a(href='index-3.html') Home 2
									li
										a(href='index-4.html') Home 3
									li
										a(href='index-5.html') Home 4
									li
										a(href='index-6.html') Home 5
							li
								a(href='courses.html') COURSES
								ul.nicdark_sub_menu
									li
										a(href='courses.html') Archive
									li
										a(href='single-course.html') Single Course
									li
										a(href='account.html') User Pages
										ul.nicdark_sub_menu
											li
												a(href='account.html') My Account
											li
												a(href='compare.html') Compare
									li
										a(href='courses.html') Shop
										ul.nicdark_sub_menu
											li
												a(href='cart.html') Cart
											li
												a(href='checkout.html') Checkout
											li
												a(href='thankyou.html') Thank You
							li
								a(href='teachers.html') TEACHERS
								ul.nicdark_sub_menu
									li
										a(href='teachers.html') Archive
									li
										a(href='single-teacher.html') Single Teacher
							li
								a(href='#') PAGES
								ul.nicdark_sub_menu
									li
										a(href='about-us.html') About Us
									li
										a(href='services.html') Services
									li
										a(href='single-course.html') Single Course
									li
										a(href='single-teacher.html') Single Teacher
									li
										a(href='contact-1.html') Contact
							li
								a(href='blog-standard.html') BLOG
								ul.nicdark_sub_menu
									li
										a(href='blog-standard.html') Archive Standard
									li
										a(href='blog-masonry.html') Archive Masonry
									li
										a(href='single.html') Post Right Sidebar
									li
										a(href='single-full-width.html') Post Full Width
									li
										a(href='single-left-sidebar.html') Post Left Sidebar
							li
								a(href='contact-1.html') CONTACT
				// END menu responsive
				.nicdark_section
					.nicdark_section.nicdark_bg_greydark
						// start nicdark_container
						.nicdark_container.nicdark_clearfix
							.grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
								.nicdark_navigation_top_header_2
									ul
										li
											img.nicdark_margin_right_10(alt='', width='15', src='/images/icons/icon-world-grey.svg')
											a.nicdark_line_height_18(href='#') LANGUAGES
											ul.nicdark_sub_menu
												li
													a(href='#') English
												li
													a(href='#') Russian
												li
													a(href='#') Italian
										li
											img.nicdark_margin_right_10(alt='', width='15', src='/images/icons/icon-share-grey.svg')
											a.nicdark_line_height_18(href='#') OUR SOCIAL
											ul.nicdark_sub_menu
												li
													a(target='_blank', href='https://www.facebook.com/cleanthemeslab') Facebook
												li
													a(target='_blank', href='https://dribbble.com/cleanthemeslab') Dribbble
												li
													a(target='_blank', href='https://twitter.com/cleanthemeslab') Twitter
												li
													a(target='_blank', href='https://www.instagram.com/cleanthemeslab/') Instagram
												li
													a(target='_blank', href='https://www.behance.net/cleanthemeslab') Behance
											a(target='_blank', href='https://www.facebook.com/cleanthemeslab')
												img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-facebook-grey.svg')
											a(target='_blank', href='https://twitter.com/cleanthemeslab')
												img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-twitter-grey.svg')
											a(target='_blank', href='#')
												img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-linkedin-grey.svg')
											a(target='_blank', href='#')
												img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-pinterest-grey.svg')
											a(target='_blank', href='https://www.instagram.com/cleanthemeslab/')
												img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-instagram-grey.svg')
							.grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greydark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
								.nicdark_navigation_top_header_2
									ul
										li
											img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-user-grey.svg')
											a(href='#') LOGIN
										li
											img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-login-grey.svg')
											a(href='#') REGISTER
						// end container
				.nicdark_section.nicdark_position_relative
					.nicdark_section.nicdark_position_absolute
						// start nicdark_container
						.nicdark_container.nicdark_clearfix.nicdark_position_relative
							.grid.grid_12.nicdark_display_none_all_responsive
								.nicdark_section.nicdark_height_10
								// LOGO
								a(href='index-2.html')
									img.nicdark_position_absolute.nicdark_left_15.nicdark_top_20(alt='', width='170', src='/images/logos/logo-kinderlab-white.svg')
								// right icons menu
								.nicdark_float_right.nicdark_width_100.nicdark_position_relative.nicdark_height_25.nicdark_display_none_all_responsive
									a(href='cart.html')
										img.nicdark_opacity_05_hover.nicdark_transition_all_08_ease.nicdark_position_absolute.nicdark_top_3_negative.nicdark_left_0.nicdark_margin_left_20(alt='', width='25', src='/images/icons/icon-cart-white.svg')
									a.nicdark_bg_orange.nicdark_color_white.nicdark_padding_5.nicdark_border_radius_100_percentage.nicdark_font_size_8.nicdark_line_height_5.nicdark_position_absolute.nicdark_left_0.nicdark_top_10_negative.nicdark_margin_left_40(href='#') 2
									a.nicdark_navigation_2_open_search_content(href='#')
										img.nicdark_opacity_05_hover.nicdark_transition_all_08_ease.nicdark_position_absolute.nicdark_top_3_negative.nicdark_right_0(alt='', width='25', src='/images/icons/icon-search-white.svg')
								// right icons menu
								.nicdark_navigation_2.nicdark_text_align_right.nicdark_float_right.nicdark_display_none_all_responsive
									ul
										li
											a(href='index-2.html') HOME
											ul.nicdark_sub_menu
												li
													a(href='index-2.html') Home 1
												li
													a(href='index-3.html') Home 2
												li
													a(href='index-4.html') Home 3
												li
													a(href='index-5.html') Home 4
												li
													a(href='index-6.html') Home 5
										li
											a(href='courses.html') COURSES
											ul.nicdark_sub_menu
												li
													a(href='courses.html') Archive
												li
													a(href='single-course.html') Single Course
												li
													a(href='account.html') User Pages
													ul.nicdark_sub_menu
														li
															a(href='account.html') My Account
														li
															a(href='compare.html') Compare
												li
													a(href='courses.html') Shop
													ul.nicdark_sub_menu
														li
															a(href='cart.html') Cart
														li
															a(href='checkout.html') Checkout
														li
															a(href='thankyou.html') Thank You
										li
											a(href='teachers.html') TEACHERS
											ul.nicdark_sub_menu
												li
													a(href='teachers.html') Archive
												li
													a(href='single-teacher.html') Single Teacher
										li
											a(href='#') PAGES
											ul.nicdark_sub_menu
												li
													a(href='about-us.html') About Us
												li
													a(href='services.html') Services
												li
													a(href='single-course.html') Single Course
												li
													a(href='single-teacher.html') Single Teacher
												li
													a(href='contact-1.html') Contact
										li
											a(href='blog-standard.html') BLOG
											ul.nicdark_sub_menu
												li
													a(href='blog-standard.html') Archive Standard
												li
													a(href='blog-masonry.html') Archive Masonry
												li
													a(href='single.html') Post Right Sidebar
												li
													a(href='single-full-width.html') Post Full Width
												li
													a(href='single-left-sidebar.html') Post Left Sidebar
										li
											a(href='contact-1.html') CONTACT
								.nicdark_section.nicdark_height_10
							// RESPONSIVE
							.nicdark_width_50_percentage.nicdark_text_align_center_all_iphone.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
								.nicdark_section.nicdark_height_20
								a(href='index-2.html')
									img(alt='', width='170', src='/images/logos/logo-kinderlab-white.svg')
							.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
								.nicdark_section.nicdark_height_20
								.nicdark_float_right.nicdark_width_100_percentage.nicdark_text_align_right.nicdark_text_align_center_all_iphone
									a.nicdark_open_navigation_2_sidebar_content(href='#')
										img.nicdark_margin_right_20(alt='', width='25', src='/images/icons/icon-menu-white.svg')
									.nicdark_position_relative.nicdark_display_inline_block
										a(href='cart.html')
											img(alt='', width='25', src='/images/icons/icon-cart-white.svg')
										a.nicdark_bg_orange.nicdark_color_white.nicdark_padding_5.nicdark_border_radius_100_percentage.nicdark_font_size_8.nicdark_line_height_5.nicdark_position_absolute.nicdark_left_0.nicdark_top_10_negative.nicdark_margin_left_20(href='#') 2
									img.nicdark_margin_left_20.nicdark_navigation_2_open_search_content(alt='', width='25', src='/images/icons/icon-search-white.svg')
							// RESPONSIVE
						// end container
				.nicdark_section.nicdark_background_size_cover.nicdark_background_position_center_bottom(style='background-image:url(images/parallax/img1.jpg);')
					.nicdark_section.nicdark_bg_greydark_alpha_gradient_2
						.nicdark_section.nicdark_height_570
						// start nicdark_container
						.nicdark_container.nicdark_clearfix.nicdark_display_none_all_iphone
							.grid.grid_12
								strong.nicdark_color_white.nicdark_font_size_60.nicdark_first_font In our School you can
								// START typed words
								.nicdark_section
									strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font learn 
									.nicdark_typed_strings
										p
											strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font how to have fun with colors
										p
											strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font how to explore new things
									span.nicdark_typed.nicdark_padding_botttom_5(style='white-space:pre;')
								// END typed words
						// end container
						.nicdark_section.nicdark_height_50
				.nicdark_section
					.nicdark_container.nicdark_clearfix
						.grid.grid_3.nicdark_bg_orange
							.nicdark_section.nicdark_padding_30.nicdark_box_sizing_border_box
								h3.nicdark_color_white
									strong Our Next Course
								.nicdark_section.nicdark_height_20
								p.nicdark_color_white
									| Exploring Nature. 
									br
									|                 ON: 12 May
								.nicdark_section.nicdark_height_20
								.nicdark_section.nicdark_height_1
								.nicdark_section.nicdark_height_1
								.nicdark_section.nicdark_height_1
								a.nicdark_display_inline_block.nicdark_color_white.nicdark_color_blue_hover.nicdark_bg_white_hover.nicdark_transition_all_08_ease.nicdark_border_1_solid_white.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') BOOK NOW
						.grid.grid_3.nicdark_bg_green
							.nicdark_section.nicdark_padding_30.nicdark_box_sizing_border_box
								h3.nicdark_color_white
									strong Opening Hours
								.nicdark_section.nicdark_height_20
								table.nicdark_section
									tr.nicdark_border_bottom_2_solid_greendark
										td.nicdark_padding_5.nicdark_padding_top_0
											p.nicdark_color_white Mon - Fri
										td.nicdark_padding_5.nicdark_padding_top_0
											p.nicdark_color_white.nicdark_text_align_right 8:00 - 17:00
									tr.nicdark_border_bottom_2_solid_greendark
										td.nicdark_padding_5
											p.nicdark_color_white Saturday
										td.nicdark_padding_5
											p.nicdark_color_white.nicdark_text_align_right 9:30 - 17:30
									tr
										td.nicdark_padding_5.nicdark_padding_botttom_0
											p.nicdark_color_white Sunday
										td.nicdark_padding_5.nicdark_padding_botttom_0
											p.nicdark_color_white.nicdark_text_align_right 9:30 - 17:30
						.grid.grid_6
							.nicdark_section.nicdark_padding_30.nicdark_padding_botttom_0.nicdark_box_sizing_border_box
								h2
									strong Find Your Course
								.nicdark_section.nicdark_height_20
							.nicdark_section.nicdark_padding_20.nicdark_padding_top_0.nicdark_box_sizing_border_box
								.nicdark_section
									.nicdark_section
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											img.nicdark_position_absolute.nicdark_top_0.nicdark_left_0.nicdark_margin_top_20.nicdark_margin_left_10(alt='', width='15', src='/images/icons/icon-pen.svg')
											input.nicdark_padding_left_25.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Keyword')
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											img.nicdark_position_absolute.nicdark_top_0.nicdark_left_0.nicdark_margin_top_20.nicdark_margin_left_10(alt='', width='15', src='/images/icons/icon-list.svg')
											input.nicdark_padding_left_25.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Kids Courses')
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											img.nicdark_position_absolute.nicdark_top_0.nicdark_left_0.nicdark_margin_top_20.nicdark_margin_left_10(alt='', width='15', src='/images/icons/icon-star.svg')
											input.nicdark_padding_left_25.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Premium')
									.nicdark_section
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											img.nicdark_position_absolute.nicdark_top_0.nicdark_left_0.nicdark_margin_top_20.nicdark_margin_left_10(alt='', width='15', src='/images/icons/icon-level.svg')
											input.nicdark_padding_left_25.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Medium Level')
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											img.nicdark_position_absolute.nicdark_top_0.nicdark_left_0.nicdark_margin_top_20.nicdark_margin_left_10(alt='', width='15', src='/images/icons/icon-clock-grey.svg')
											input.nicdark_padding_left_25.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='8 Hours')
										.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
											a.nicdark_bg_white_hover.nicdark_color_orange_hover.nicdark_border_2_solid_orangedark.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_orange.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='courses.html') SEARCH
				.nicdark_section.nicdark_height_50
				.nicdark_section
					// start nicdark_container
					.nicdark_container.nicdark_clearfix
						.grid.grid_12
							h1.nicdark_font_size_50
								strong Our Courses
							.nicdark_section.nicdark_height_10
							h3.nicdark_color_grey The Best In Our School
						.nicdark_width_50_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left
							.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
								// start preview
								.nicdark_section.nicdark_border_1_solid_grey
									// image
									.nicdark_section.nicdark_position_relative
										img.nicdark_section(alt='', src='/images/courses/img20.jpg')
										.nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
											a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
												img.nicdark_margin_right_60(alt='', width='25', src='/images/icons/icon-heart-white.svg')
											a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
												img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='/images/icons/icon-compare-white.svg')
											.nicdark_position_absolute.nicdark_bottom_20
												h2.nicdark_color_white.nicdark_display_none_all_iphone
													a.nicdark_color_white.nicdark_first_font(href='single-course.html') Play with Colors
												.nicdark_section.nicdark_height_10.nicdark_display_none_all_iphone
												.nicdark_display_table.nicdark_float_left
													img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
													p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
													img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-clock.svg')
													p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
											a(href='single-teacher.html')
												img.nicdark_display_none_all_iphone.nicdark_border_3_solid_white.nicdark_border_radius_100_percentage.nicdark_position_absolute.nicdark_right_20.nicdark_bottom_35_negative(alt='', width='70', src='/images/avatar/avatar-chef-7.jpg')
									// image
									.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
										h3
											a.nicdark_color_greydark.nicdark_first_font(href='single-course.html') Basic Course
										.nicdark_section.nicdark_height_20
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue, dignissim id bibendum id, consequat et leo. Curabitur viverra tincidunt nulla.
									.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
										.nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left.nicdark_display_none_all_iphone
											.nicdark_display_table.nicdark_float_left
												img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-level.svg')
												p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
													a(href='single-course.html') Medium Level
										.nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left
											.nicdark_display_table.nicdark_float_left
												img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-availability.svg')
												p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
													a(href='single-course.html') 221 Seats
										.nicdark_width_33_percentage.nicdark_width_50_percentage_all_iphone.nicdark_float_left.nicdark_text_align_right
											a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') FREE COURSE
								// start preview
						.nicdark_width_50_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left
							.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
								.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
									// start preview
									.nicdark_section.nicdark_border_1_solid_grey
										// image
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/courses/img2.jpg')
											.nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
													img.nicdark_margin_right_60(alt='', width='25', src='/images/icons/icon-heart-white.svg')
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
													img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='/images/icons/icon-compare-white.svg')
												.nicdark_position_absolute.nicdark_bottom_20
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-clock.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
										// image
										.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
											h3
												a.nicdark_color_greydark.nicdark_first_font(href='single-course.html') Happy Food
										.nicdark_section.nicdark_padding_10_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
											.nicdark_width_50_percentage.nicdark_float_left
												.nicdark_display_table.nicdark_float_left
													img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-availability.svg')
													p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
														a(href='single-course.html') 0 Seats
											.nicdark_width_50_percentage.nicdark_float_left.nicdark_text_align_right
												a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_orange.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') COMPLETED
									// start preview
							.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
								.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
									// start preview
									.nicdark_section.nicdark_border_1_solid_grey
										// image
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/courses/img3.jpg')
											.nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
													img.nicdark_margin_right_60(alt='', width='25', src='/images/icons/icon-heart-white.svg')
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
													img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='/images/icons/icon-compare-white.svg')
												.nicdark_position_absolute.nicdark_bottom_20
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-clock.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
										// image
										.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
											h3
												a.nicdark_color_greydark.nicdark_first_font(href='single-course.html') First Numbers
										.nicdark_section.nicdark_padding_10_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
											.nicdark_width_50_percentage.nicdark_float_left
												.nicdark_display_table.nicdark_float_left
													img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-availability.svg')
													p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
														a(href='single-course.html') 65 Seats
											.nicdark_width_50_percentage.nicdark_float_left.nicdark_text_align_right
												a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') USD 70
									// start preview
							.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
								.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
									// start preview
									.nicdark_section.nicdark_border_1_solid_grey
										// image
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/courses/img4.jpg')
											.nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
													img.nicdark_margin_right_60(alt='', width='25', src='/images/icons/icon-heart-white.svg')
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
													img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='/images/icons/icon-compare-white.svg')
												.nicdark_position_absolute.nicdark_bottom_20
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-clock.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
										// image
										.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
											h3
												a.nicdark_color_greydark.nicdark_first_font(href='single-course.html') Gymnastic
										.nicdark_section.nicdark_padding_10_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
											.nicdark_width_50_percentage.nicdark_float_left
												.nicdark_display_table.nicdark_float_left
													img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-availability.svg')
													p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
														a(href='single-course.html') 73 Seats
											.nicdark_width_50_percentage.nicdark_float_left.nicdark_text_align_right
												a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') USD 150
									// start preview
							.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
								.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
									// start preview
									.nicdark_section.nicdark_border_1_solid_grey
										// image
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/courses/img1.jpg')
											.nicdark_bg_greydark_alpha_gradient_2.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_20.nicdark_box_sizing_border_box
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Favorities', href='account.html#tabs-3')
													img.nicdark_margin_right_60(alt='', width='25', src='/images/icons/icon-heart-white.svg')
												a.nicdark_tooltip_jquery.nicdark_position_absolute.nicdark_right_0(title='Add To Compare', href='compare.html')
													img.nicdark_margin_right_20.nicdark_right_0(alt='', width='25', src='/images/icons/icon-compare-white.svg')
												.nicdark_position_absolute.nicdark_bottom_20
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-clock.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 8 Hours
										// image
										.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box
											h3
												a.nicdark_color_greydark.nicdark_first_font(href='single-course.html') Exploring Nature
										.nicdark_section.nicdark_padding_10_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_top_1_solid_grey
											.nicdark_width_50_percentage.nicdark_float_left
												.nicdark_display_table.nicdark_float_left
													img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-availability.svg')
													p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15
														a(href='single-course.html') 6 Seats
											.nicdark_width_50_percentage.nicdark_float_left.nicdark_text_align_right
												a.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13(href='single-course.html') USD 50
									// start preview
					// end container
				.nicdark_section.nicdark_height_50
				.nicdark_section.nicdark_background_size_cover.nicdark_background_position_center_bottom(style='background-image:url(images/parallax/img2.jpg);')
					.nicdark_section.nicdark_bg_greydark_alpha_4
						.nicdark_section.nicdark_height_100
						// start nicdark_container
						.nicdark_container.nicdark_clearfix
							.grid.grid_6
								.nicdark_section.nicdark_height_70
								h1.nicdark_color_white.nicdark_second_font
									| NEXT COURSE 
									span.nicdark_border_bottom_4_solid_white Exploring Colors
								.nicdark_section.nicdark_height_20
								h1.nicdark_color_white.nicdark_font_size_60
									strong
										a.nicdark_first_font.nicdark_color_white(href='single-course.html') Available Now
								.nicdark_section.nicdark_height_40
								.nicdark_section
									.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_text_align_center_all_iphone
										.nicdark_display_inline_block
											h1.nicdark_color_white.nicdark_font_size_40.nicdark_padding_20_25 12
											h5.nicdark_bg_white.nicdark_padding_5.nicdark_border_radius_3.nicdark_text_align_center TEACHERS
									.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_text_align_center_all_iphone
										.nicdark_display_inline_block
											h1.nicdark_color_white.nicdark_font_size_40.nicdark_padding_20_25 50
											h5.nicdark_bg_white.nicdark_padding_5.nicdark_border_radius_3.nicdark_text_align_center ATTENDEES
									.nicdark_width_33_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_text_align_center_all_iphone
										.nicdark_display_inline_block
											h1.nicdark_color_white.nicdark_font_size_40.nicdark_padding_20_25 15
											h5.nicdark_bg_white.nicdark_padding_5.nicdark_border_radius_3.nicdark_text_align_center DAYS
							.grid.grid_1
								.nicdark_section.nicdark_height_1
							.grid.grid_5
								// form
								.nicdark_section.nicdark_bg_white
									.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_bg_grey.nicdark_border_bottom_1_solid_grey.nicdark_text_align_center
										h6.nicdark_second_font.nicdark_bg_green.nicdark_padding_5.nicdark_border_radius_3.nicdark_color_white.nicdark_display_inline_block LAST 7 SEATS
										.nicdark_section.nicdark_height_5
										h1
											strong Register Now
									.nicdark_section.nicdark_padding_20_50.nicdark_box_sizing_border_box
										.nicdark_section
											.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												input.nicdark_padding_left_0.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_bottom_width_2.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Name')
											.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												input.nicdark_padding_left_0.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_bottom_width_2.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Surname')
										.nicdark_section
											.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												input.nicdark_padding_left_0.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_bottom_width_2.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Email')
											.nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												input.nicdark_padding_left_0.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_bottom_width_2.nicdark_border_right_width_0.nicdark_border_left_width_0(type='text', placeholder='Subject')
										.nicdark_section
											.nicdark_width_100_percentage.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												textarea.nicdark_padding_left_0.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_bottom_width_2.nicdark_border_right_width_0.nicdark_border_left_width_0(rows='4', placeholder='Message')
										.nicdark_section
											.nicdark_width_100_percentage.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left
												a.nicdark_bg_white_hover.nicdark_color_orange_hover.nicdark_border_2_solid_orange.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_orange.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='contact-1.html') SEND NOW
								// form
						// end container
						.nicdark_section.nicdark_height_100
				.nicdark_section.nicdark_bg_greydark
					.nicdark_section.nicdark_height_50
					// start nicdark_container
					.nicdark_container.nicdark_clearfix
						.grid.grid_4
							.nicdark_section.nicdark_position_relative
								img.nicdark_position_absolute(alt='', width='50', src='/images/icons/icon-cat-grey.svg')
								.nicdark_section.nicdark_padding_left_70.nicdark_box_sizing_border_box
									h2.nicdark_color_white First Year 
									.nicdark_section.nicdark_height_20
									p.nicdark_color_grey
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
						.grid.grid_4
							.nicdark_section.nicdark_position_relative
								img.nicdark_position_absolute(alt='', width='50', src='/images/icons/icon-frog-grey.svg')
								.nicdark_section.nicdark_padding_left_70.nicdark_box_sizing_border_box
									h2.nicdark_color_white Second Year
									.nicdark_section.nicdark_height_20
									p.nicdark_color_grey
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
						.grid.grid_4
							.nicdark_section.nicdark_position_relative
								img.nicdark_position_absolute(alt='', width='50', src='/images/icons/icon-mouse-grey.svg')
								.nicdark_section.nicdark_padding_left_70.nicdark_box_sizing_border_box
									h2.nicdark_color_white Third Year
									.nicdark_section.nicdark_height_20
									p.nicdark_color_grey
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
					// end container
					.nicdark_section.nicdark_height_50
				.nicdark_section.nicdark_height_50
				.nicdark_section
					// start nicdark_container
					.nicdark_container.nicdark_clearfix
						.grid.grid_12
							h1.nicdark_font_size_50
								strong Our Blog
							.nicdark_section.nicdark_height_10
							h3.nicdark_color_grey Follow Our News
						.nicdark_section
							// START masonry
							.nicdark_masonry_content
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_border_1_solid_grey
											.nicdark_section.nicdark_position_relative
												a(href='single.html')
													img.nicdark_section(alt='', src='/images/courses/img23.jpg')
												.nicdark_bg_greydark_alpha.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_30.nicdark_box_sizing_border_box
												a.nicdark_position_absolute.nicdark_right_20.nicdark_top_20.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13.nicdark_z_index_9(href='single.html') NEWS
											.nicdark_section.nicdark_padding_30.nicdark_box_sizing_border_box
												h5.nicdark_second_font.nicdark_color_grey
													a(href='single.html') 20 August 2014
												.nicdark_section.nicdark_height_10
												h2
													a.nicdark_first_font.nicdark_color_greydark(href='single.html') Exploring Nature 
												.nicdark_section.nicdark_height_20
												p
													a(href='single.html')
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
											.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_border_top_1_solid_grey
												.nicdark_width_50_percentage.nicdark_float_left
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_border_radius_100_percentage(alt='', width='25', src='/images/avatar/avatar-chef-2.jpg')
														p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15 Jane
												.nicdark_width_50_percentage.nicdark_float_left
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-comments.svg')
														p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15 3 Comments
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_bg_green.nicdark_text_align_center
											.nicdark_section.nicdark_padding_50.nicdark_box_sizing_border_box
												h2.nicdark_color_white.nicdark_line_height_35
													a.nicdark_color_white.nicdark_first_font(href='single.html') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												.nicdark_section.nicdark_height_20
												.nicdark_display_inline_block
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='30', src='/images/icons/icon-quote-grey-alpha.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle John Doe
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/blog/img1.jpg')
											a.nicdark_position_absolute.nicdark_right_20.nicdark_top_20.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13.nicdark_z_index_9(href='single.html') NEWS
											.nicdark_bg_greydark_alpha_gradient.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_30.nicdark_box_sizing_border_box
												.nicdark_position_absolute.nicdark_bottom_30
													h2.nicdark_color_white
														a.nicdark_color_white.nicdark_first_font(href='single.html') Healthy Food
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-comment.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 3 Comments
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_border_1_solid_grey
											.nicdark_section.nicdark_position_relative
												img.nicdark_section(alt='', src='/images/courses/img21.jpg')
												a.nicdark_position_absolute.nicdark_right_20.nicdark_top_20.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13.nicdark_z_index_9(href='single.html') NEWS
											.nicdark_section.nicdark_padding_30.nicdark_box_sizing_border_box
												h5.nicdark_second_font.nicdark_color_grey 20 August 2014
												.nicdark_section.nicdark_height_10
												h2
													a.nicdark_first_font.nicdark_color_greydark(href='single.html') Drawing at the park
												.nicdark_section.nicdark_height_20
												p
													a(href='single.html')
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.
											.nicdark_section.nicdark_padding_20.nicdark_box_sizing_border_box.nicdark_border_top_1_solid_grey
												.nicdark_width_50_percentage.nicdark_float_left
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_border_radius_100_percentage(alt='', width='25', src='/images/avatar/avatar-chef-2.jpg')
														p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15 John Doe
												.nicdark_width_50_percentage.nicdark_float_left
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='23', src='/images/icons/icon-comments.svg')
														p.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_15 3 Comments
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_position_relative
											img.nicdark_section(alt='', src='/images/courses/img5.jpg')
											a.nicdark_position_absolute.nicdark_right_20.nicdark_top_20.nicdark_display_inline_block.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_8.nicdark_border_radius_3.nicdark_font_size_13.nicdark_z_index_9(href='single.html') NEWS
											.nicdark_bg_greydark_alpha_gradient_3.nicdark_position_absolute.nicdark_left_0.nicdark_height_100_percentage.nicdark_width_100_percentage.nicdark_padding_30.nicdark_box_sizing_border_box
												.nicdark_position_absolute.nicdark_bottom_30
													h2.nicdark_color_white
														a.nicdark_color_white.nicdark_first_font(href='single.html') A Day in a Farm
													.nicdark_section.nicdark_height_10
													.nicdark_display_table.nicdark_float_left
														img.nicdark_margin_right_10.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-calendar.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 21/12/2017
														img.nicdark_margin_right_10.nicdark_margin_left_20.nicdark_display_table_cell.nicdark_vertical_align_middle(alt='', width='20', src='/images/icons/icon-comment.svg')
														p.nicdark_color_white.nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_font_size_13 3 Comments
								.nicdark_masonry_item.nicdark_width_33_percentage.nicdark_width_100_percentage_responsive
									.nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
										.nicdark_section.nicdark_bg_orange.nicdark_text_align_center
											.nicdark_section.nicdark_padding_50.nicdark_box_sizing_border_box
												.nicdark_display_inline_block
													img.nicdark_margin_right_10(alt='', width='20', src='/images/icons/icon-link-white.svg')
													h2.nicdark_color_white.nicdark_line_height_35.nicdark_display_inline_block
														span.nicdark_padding_botttom_5
															a.nicdark_color_white.nicdark_first_font(href='single.html') Check New Events
							// END masonry
					// end container
				.nicdark_section.nicdark_height_50
				.nicdark_section
					.nicdark_section.nicdark_bg_grey.nicdark_border_top_1_solid_grey
						// start nicdark_container
						.nicdark_container.nicdark_clearfix
							.nicdark_section.nicdark_height_30
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo1.png')
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo2.png')
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo3.png')
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo4.png')
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo5.png')
							.grid.grid_2
								img.nicdark_width_100_percentage(alt='', src='/images/partner/logo6.png')
							.nicdark_section.nicdark_height_30
						// end container
				.nicdark_section.nicdark_bg_greydark
					.nicdark_section.nicdark_height_50
					// start nicdark_container
					.nicdark_container.nicdark_clearfix
						.grid.grid_12.nicdark_text_align_center
							.nicdark_section
								a(href='index-2.html')
									img(alt='', width='200', src='/images/logos/logo-kinderlab-white.svg')
							.nicdark_section.nicdark_height_20
							.nicdark_display_inline_block
								a(href='index-2.html')
									img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
								a(href='index-2.html')
									img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
								a(href='index-2.html')
									img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
								a(href='index-2.html')
									img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
								a(href='index-2.html')
									img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
					// end container
					.nicdark_section.nicdark_height_50
				.nicdark_section.nicdark_bg_greydark
					// start nicdark_container
					.nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
						.grid.grid_6.nicdark_text_align_center_responsive
							p.nicdark_color_grey.nicdark_font_size_14  Copyright 2016 CleanThemes.net - Kindergarten Laborator Theme
						.grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
							.nicdark_navigation_copyright
								ul
									li
										a(href='index-2.html') HOME
									li
										a(href='about-us.html') ABOUT US
									li
										a(href='services.html') SERVICES
									li
										a(href='contact-1.html') CONTACT
					// end container
			// END nicdark_site_fullwidth
		// END nicdark_site
		script(src='/javascripts/nicdark_plugins.min.js', type='text/javascript')
	
