doctype html
html
    head
        meta(charset='utf-8')
        title Education
        
        // insert your title here
    
        // insert your name here
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // meta responsive
        // START CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')

        link(rel='stylesheet', href='/stylesheets/nicdark_style.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        
        // style
        // google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        //if lt IE 9

        // FAVICONS
        link(rel='apple-touch-icon', href='/images/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
        // END FAVICONS
        //link(rel='stylesheet', href='/stylesheets/materialize.min.css')

        //-link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    body#start_nicdark_framework
        include profile
        .nicdark_site
          // START nicdark_site_fullwidth
          .nicdark_site_fullwidth.nicdark_site_fullwidth_boxed.nicdark_clearfix
            // START search container
            .nicdark_display_table.nicdark_transition_all_08_ease.nicdark_navigation_3_search_content.nicdark_bg_greydark_alpha_9.nicdark_position_fixed.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_z_index_1_negative.nicdark_opacity_0
              // close
              .nicdark_cursor_zoom_out.nicdark_navigation_3_close_search_content.nicdark_width_100_percentage.nicdark_height_100_percentage.nicdark_position_absolute.nicdark_z_index_1_negative
              .nicdark_display_table_cell.nicdark_vertical_align_middle.nicdark_text_align_center
                .nicdark_width_700.nicdark_width_250_all_iphone.nicdark_display_inline_block
                  .nicdark_width_80_percentage.nicdark_padding_5.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
                    input.nicdark_border_width_2.nicdark_background_none.nicdark_border_top_width_0.nicdark_border_right_width_0.nicdark_border_left_width_0.nicdark_first_font.nicdark_color_white.nicdark_placeholder_color_white.nicdark_font_size_30.nicdark_line_height_30(type='text', placeholder='Search')
                  .nicdark_width_20_percentage.nicdark_padding_10.nicdark_box_sizing_border_box.nicdark_float_left.nicdark_position_relative
                    a.nicdark_width_55.nicdark_height_55.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_bg_green.nicdark_padding_15.nicdark_border_radius_3(href='')
                      img(alt='', width='25', src='images/icons/icon-search-white.svg')
            // END search container
            // START menu responsive
            .nicdark_navigation_3_sidebar_content.nicdark_padding_40.nicdark_box_sizing_border_box.nicdark_overflow_hidden.nicdark_overflow_y_auto.nicdark_transition_all_08_ease.nicdark_bg_green.nicdark_height_100_percentage.nicdark_position_fixed.nicdark_width_300.nicdark_right_300_negative.nicdark_z_index_9
              img.nicdark_close_navigation_3_sidebar_content.nicdark_cursor_pointer.nicdark_right_20.nicdark_top_20.nicdark_position_absolute(alt='', width='25', src='images/icons/icon-close-white.svg')
              .nicdark_navigation_3_sidebar
                ul
                  li
                        a(href='/') INICIO
                
                  li
                    a(href='/nosotros') NOSOTROS
                
                  li
                    a(href='/contactanos') CONTACTANOS
                    
            // END menu responsive
            .nicdark_section
              .nicdark_section.nicdark_bg_green
                // start nicdark_container
                .nicdark_container.nicdark_clearfix
                  .grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
                    .nicdark_navigation_top_header_3
                      ul
                        li
                          ul.nicdark_sub_menu
                            li
                              a(target='_blank', href='') Facebook
                            li
                              a(target='_blank', href='') Dribbble
                            li
                              a(target='_blank', href='') Twitter
                            li
                              a(target='_blank', href='') Instagram
                            li
                              a(target='_blank', href='') Behance
                          a(target='_blank', href='')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='images/icons/icon-facebook-white.svg')
                          a(target='_blank', href='')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='images/icons/icon-twitter-white.svg')
                          a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='images/icons/icon-linkedin-white.svg')
                          a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='images/icons/icon-pinterest-white.svg')
                          a(target='_blank', href='')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='images/icons/icon-instagram-white.svg')
                  .grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greendark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
                    .nicdark_navigation_top_header_3
                      ul
                        li
                          img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='images/icons/icon-user-white.svg')
                          a.nicdark_color_white(href='#',data-toggle='modal')
                            h1 #{user_}
                // end container
            .nicdark_section.nicdark_position_relative
              .nicdark_section.nicdark_bg_white
                // start nicdark_container
                .nicdark_container.nicdark_clearfix.nicdark_position_relative
                  .grid.grid_12.nicdark_display_none_all_responsive
                    .nicdark_section.nicdark_height_10
                    // LOGO
                    a(href='/')
                      img.nicdark_position_absolute.nicdark_left_15.nicdark_top_20(alt='', width='170', src='images/logo1.png')
                    // right icons menu
                    S
                    .nicdark_navigation_3.nicdark_text_align_right.nicdark_float_right.nicdark_display_none_all_responsive
                      ul
                        li
                          a(href='/') INICIO 
                          ul.nicdark_sub_menu
                          
                        li
                          a(href='/nosotros') NOSOTROS
                          ul.nicdark_sub_menu
                        li
                          a(href='/contactanos') CONTACTANOS
                          ul.nicdark_sub_menu
                          
                          
                    .nicdark_section.nicdark_height_10
                  // RESPONSIVE
                  .nicdark_width_50_percentage.nicdark_text_align_center_all_iphone.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                    .nicdark_section.nicdark_height_20
                    a(href='')
                      img(alt='', width='170', src='images/logo1.png')
                  .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left.nicdark_display_none.nicdark_display_block_responsive
                    .nicdark_section.nicdark_height_20
                    .nicdark_float_right.nicdark_width_100_percentage.nicdark_text_align_right.nicdark_text_align_center_all_iphone
                      a.nicdark_open_navigation_3_sidebar_content(href='#')
                        img.nicdark_margin_right_20(alt='', width='25', src='images/icons/icon-menu-grey.svg')
                      .nicdark_position_relative.nicdark_display_inline_block
                        a(href='')
                          img(alt='', width='25', src='images/icons/icon-cart-grey.svg')
                        a.nicdark_bg_orange.nicdark_color_white.nicdark_padding_5.nicdark_border_radius_100_percentage.nicdark_font_size_8.nicdark_line_height_5.nicdark_position_absolute.nicdark_left_0.nicdark_top_10_negative.nicdark_margin_left_20(href='#') 2
                      img.nicdark_margin_left_20.nicdark_navigation_3_open_search_content(alt='', width='25', src='images/icons/icon-search-grey.svg')
                    .nicdark_section.nicdark_height_20
                    
    
            block content       
    
            script(src='/javascripts/nicdark_plugins.min.js', type='text/javascript')
            script(src='/javascripts/jquery.2.1.1.js', type='text/javascript')
            script(src='/javascripts/bootstrap.min.js', type='text/javascript')

            //script(src='/javascripts/materialize.min.js', type='text/javascript')
            script(src='/javascripts/main.js', type='text/javascript')
            block script
