.modal-background{
    background-image:  url("/images/demo_1.jpg");
    background-repeat: round;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.intro-form{
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    background: #fff;
    webkit-box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;
    -moz-box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;
    /*box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;*/

}
.intro-form input{
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: 15px;
    padding: 0px 25px;
    height: 48px;
    line-height: 48px;
    color: #222;
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 18px;
}

.intro-form select{
    display: block;
    width: 100%;
    margin: 0;
    /*-webkit-appearance: none;*/
    font-size: 15px;
    padding: 0px 0px 0px 20px;
    height: 48px;
    line-height: 48px;
    color: #222;
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 18px;
}
.intro-form label{
    font-size: 13px;
}
.btn-large-modal{
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 20px;

}

.modal-col-register{
    padding:0px;
    text-align: center;
}

* {border:0;outline:0;}

label#largeFile:after {
  position:absolute;
  width:100%;
  height: 100%;
  max-width:800px;
  content:"FOTO";
  left:0;
  right:0;
  /*margin:50px auto;*/
  text-align:center;
  padding:50px 0px 50px 0px;
  border-radius:10px;
  border:5px dashed #ccc;
  color:#ccc;
  font-family:"Helvetica Neue", Helvetica, Arial;
  font-size:30px;
}

label#largeFile:hover:after {
  background:#ccc;
  color:#fff;
  cursor:pointer;
}


label#largeFile input#file {
    width: 0px;
    height: 0px;
}
