
#modalSignIn.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header(style='border-bottom:none')
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') X
        h2#myModalLabel.modal-title INGRESAR
      .modal-body
            
        .intro-form
             form
                 .row
                     .col-md-12
                         .form-group
                             label.control-label() USUARIO
                             input#nick_nameUserLogIn.form-control(type='text',name='nick_name')
                     .col-md-12   
                         .form-group
                             label.control-label() CONTRASEÑA
                             input#passwordUserLogIn.form-control(type='text',name='password')
    
               
      .modal-footer

            //button.btn.btn-lg.btn-default.btn-large-modal(type='button', data-dismiss='modal') CERRAR
            button.btn.btn-lg.btn-info.btn-large-modal(type='submit',style='margin-right:35px') INICIAR
