extends ../../../layout

block content
    link(rel="stylesheet" href="javascripts/codefun/common/common.css")
    link(rel="stylesheet" href="javascripts/codefun/maze/style.css")

    script(type='text/javascript', href='/javascripts/codefun/common/boot.js')
