doctype html
html
  head
    meta(charset='utf-8')
    meta(name='google', value='notranslate')
    meta(name='viewport', content='target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, user-scalable=no')
    title Juegar DEMO
    link(rel='stylesheet', href='javascripts/codefun/common/common.css')
    link(rel='stylesheet', href='javascripts/codefun/puzzle/style.css')
    script(src='javascripts/codefun/common/boot.js')
  body
