link(rel='stylesheet', href='javascripts/codefun/common/common.css')
link(rel='stylesheet', href='javascripts/codefun/maze/style.css')
script(src='javascripts/codefun/common/boot.js')
script(src='javascripts/codefun/maze/generated/es/compressed-indent.js', type='text/javascript')
script(type='text/javascript', src='javascripts/codefun/third-party/JS-Interpreter/compiled.js')
link(src='stylesheets/style_game.css')
link(rel='stylesheet', type='text/css', href='javascripts/codefun/common/prettify.css')
script(type='text/javascript', src='javascripts/codefun/common/prettify.js')
