extends ../../layout


block login 


    .nicdark_container.nicdark_clearfix
      .grid.grid_6.nicdark_padding_botttom_10.nicdark_padding_top_10.nicdark_text_align_center_responsive
            .nicdark_navigation_top_header_2
                ul
                    li
                        ul.nicdark_sub_menu
                            li
                                a(target='_blank', href='https://www.facebook.com/') Facebook
                            li
                                a(target='_blank', href='https://dribbble.com/') Dribbble
                            li
                                a(target='_blank', href='https://twitter.com/') Twitter
                            li
                                a(target='_blank', href='https://www.instagram.com//') Instagram
                            li
                                a(target='_blank', href='https://www.behance.net/') Behance
                        a(target='_blank', href='https://www.facebook.com/')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-facebook-grey.svg')
                        a(target='_blank', href='https://twitter.com/')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-twitter-grey.svg')
                        a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-linkedin-grey.svg')
                        a(target='_blank', href='#')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-pinterest-grey.svg')
                        a(target='_blank', href='')
                            img.nicdark_margin_left_10.nicdark_margin_top_2.nicdark_display_none_all_responsive(alt='', width='12', src='/images/icons/icon-instagram-grey.svg')
      .grid.grid_6.nicdark_text_align_right.nicdark_border_top_1_solid_greydark_responsive.nicdark_text_align_center_responsive.nicdark_padding_botttom_10.nicdark_padding_top_10
        .nicdark_navigation_top_header_2
          ul
            li
              img.nicdark_margin_right_10.nicdark_float_left(alt='', width='15', src='/images/icons/icon-user-grey.svg')
              a(href='#') 
              span(style='color:white') #{userCurrent}
            

block content_title
    .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
      strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font Nivel Avanzado 
      .nicdark_section.nicdark_height_20
      
      .nicdark_section.nicdark_height_20
block content
    .nicdark_width_100_percentage
        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
            .col-md-6
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.center-content
                    .nicdark_width_100_percentage
                        .nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/entretenimiento/informacion_nivel_avanzado') CONCEPTOS BASICOS
            .col-md-6          
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.center-content
                    .nicdark_width_100_percentage.nicdark_float_left
                        .nicdark_float_left.nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/avanzado') JUGAR
    .nicdark_section.nicdark_height_50
    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            h1(style='padding-left: 16px') FUNCIONES 
            .nicdark_section.nicdark_height_25
            .col-md-6
        
                    P
                        | El curso está dirigido a los jóvenes que tienen curiosidad por el mundo de la programación, pero se requiere haber tenido alguna experiencia previa con otro entorno de programación. Donde se desarrollaran los siguientes temas.

                        ul
                            li.li-content Nodos
                            li.li-content Eventos
                            li.li-content Formularios
                            li.li-content Otras utilidades
                            li.li-content Deteccion y correccion de errores

    
            .col-md-6
                .nicdark_section.nicdark_position_relative
                img.img-responsive(src='/img_contenido/19.png')
    
    .nicdark_section.nicdark_height_50
    
    
    
    
    .nicdark_section.nicdark_bg_greydark
        .nicdark_section.nicdark_height_50
        // start nicdark_container
        .nicdark_container.nicdark_clearfix
            .grid.grid_12.nicdark_text_align_center
                .nicdark_section
                    a(href='')
                        img(alt='', width='200', src='/images/logo2.png')
                .nicdark_section.nicdark_height_20
                .nicdark_display_inline_block
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
        // end container
        .nicdark_section.nicdark_height_50
    .nicdark_section.nicdark_bg_greydark
        // start nicdark_container
        .nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
            .grid.grid_6.nicdark_text_align_center_responsive
                p.nicdark_color_grey.nicdark_font_size_14 © Copyright 2016 Se Declaran Todos los Derechos Reservados Compañia J&C
            .grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
                .nicdark_navigation_copyright
                    ul
                        li
                            a(href='/') INICIO
                        li
                            a(href='/nosotros') NOSOTROS
                        li
                            a(href='/contactanos') CONTACTANOS
        // end container
