extends ../../layout

block content_title
    .nicdark_width_50_percentage.nicdark_width_100_percentage_all_iphone.nicdark_float_left
      strong.nicdark_color_white.nicdark_font_size_40.nicdark_first_font Nivel Intermedio 
      .nicdark_section.nicdark_height_20
      
      .nicdark_section.nicdark_height_20
block content
    .nicdark_width_100_percentage
        .nicdark_section.nicdark_padding_15.nicdark_box_sizing_border_box
            .col-md-6
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.center-content
                    .nicdark_width_100_percentage
                        .nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/entretenimiento/informacion_nivel_intermedio') CONCEPTOS BASICOS
            .col-md-6          
                .nicdark_width_100_percentage.nicdark_width_100_percentage_responsive.nicdark_float_left.center-content
                    .nicdark_width_100_percentage.nicdark_float_left
                        .nicdark_float_left.nicdark_width_100_percentage_all_iphone
                        a.nicdark_bg_white_hover.nicdark_color_green_hover.nicdark_border_2_solid_green.nicdark_transition_all_08_ease.nicdark_display_inline_block.nicdark_text_align_center.nicdark_box_sizing_border_box.nicdark_width_100_percentage.nicdark_color_white.nicdark_bg_green.nicdark_first_font.nicdark_padding_10_20.nicdark_border_radius_3(href='/intermedio') JUGAR
    .nicdark_section.nicdark_height_50
    .nicdark_width_100_percentage
        .col-md-12(style='padding:30px')
            h1(style='padding-left: 16px') FUNCIONES 
            .nicdark_section.nicdark_height_25
            .col-md-6
                .col-md-12
                    p(style='text-align: justify')
                        | Una función es un conjunto de líneas de código que realizan una tarea específica y puede retornar un valor. Las funciones pueden tomar parámetros que modifiquen su funcionamiento.
                        | Las funciones son utilizadas para descomponer grandes problemas en tareas simples y para implementar operaciones que son comúnmente utilizadas durante un programa y de esta manera reducir la cantidad de código.
                        | Cuando una función es invocada se le pasa el control a la misma, una vez que esta finalizó con su tarea el control es devuelto al punto desde el cual la función fue llamada.
                .col-md-12
                    .nicdark_section.nicdark_height_25
                    p(style='text-align: justify')
                     | Para comenzar, vamos a considerar el caso en el cual se desea crear la función miFuncion ( ), que deberá devolver el cuadrado de un número real.
                    .nicdark_section.nicdark_position_relative
                    .nicdark_section.nicdark_height_25
                    img.img-responsive(src='/img_contenido/18.jpg')

            .col-md-6
                .nicdark_section.nicdark_position_relative
                img.img-responsive(src='/img_contenido/17.jpg')
    .nicdark_section.nicdark_height_50
    
    
    
    
    .nicdark_section.nicdark_bg_greydark
        .nicdark_section.nicdark_height_50
        // start nicdark_container
        .nicdark_container.nicdark_clearfix
            .grid.grid_12.nicdark_text_align_center
                .nicdark_section
                    a(href='')
                        img(alt='', width='200', src='/images/logo2.png')
                .nicdark_section.nicdark_height_20
                .nicdark_display_inline_block
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-facebook-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-twitter-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-pinterest-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-linkedin-circle.svg')
                    a(href='')
                        img.nicdark_margin_right_10(alt='', width='40', src='/images/icons/icon-youtube-circle.svg')
        // end container
        .nicdark_section.nicdark_height_50
    .nicdark_section.nicdark_bg_greydark
        // start nicdark_container
        .nicdark_container.nicdark_clearfix.nicdark_border_top_1_solid_greydark
            .grid.grid_6.nicdark_text_align_center_responsive
                p.nicdark_color_grey.nicdark_font_size_14 © Copyright 2016 Se Declaran Todos los Derechos Reservados Compañia J&C
            .grid.grid_6.nicdark_text_align_right.nicdark_text_align_center_responsive.nicdark_border_top_1_solid_greydark_responsive.nicdark_display_none_all_iphone
                .nicdark_navigation_copyright
                    ul
                        li
                            a(href='/') INICIO
                        li
                            a(href='/nosotros') NOSOTROS
                        li
                            a(href='/contactanos') CONTACTANOS
        // end container
